

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html, body {
  background: #FFF;
  overflow: hidden;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid #d4d4d4;
  padding: 5px;
  border-radius: 5px;
}

button {
  margin: 10px !important;
}

h2 {
  text-align: center;
  color: #f44336;
  padding: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
